* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #294C71;
    width: 100%;
    padding: 20px;
    background-image: url(../imgs/fundo.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#cabecalho {
    width: 750px;
    height: 200px;
    margin: 0 auto;
    background-image: url(../imgs/detalhe-topo.png);
    background-repeat: no-repeat;
    background-position: right;
}

nav {
    background-color: rgba(209, 17, 17, 0.767);
    padding: 2px;
    width: 80%;
    margin-top: 40px;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: inline-block;
    padding: 8px 12.6px;
    background-image: url(../imgs/divisor.png);
    background-repeat: no-repeat;
    background-position: right;
}

#home #cabecalho nav .home,
#brasil #cabecalho nav .brasil,
#ciencia #cabecalho nav .ciencia,
#economia #cabecalho nav .economia,
#fotos #cabecalho nav .fotos,
#internacional #cabecalho nav .internacional,
#saude #cabecalho nav .saude {
    background-color: red;
}

nav a:hover {
    color: rgba(75, 64, 64, 0.993);
}

main {
    margin: 20px auto;
    width: 950px;
}

aside.menu-esquerda {
    width: 200px;
    float: left;
    margin-top: 10px;
}

aside.menu-esquerda h3 {
    background-color: #294C71;
    color: white;
    padding: 5px;
}

aside.menu-esquerda ul {
    margin-bottom: 20px;
}

aside.menu-esquerda ul a {
    display: block;
    padding: 10px;
}

input#email[type="email"] {
    padding: 10px;
    margin: 3px 0;
}

input#email[type="email"]:focus {
    border: 1px solid lightblue;
    outline: none;
}

input#btn {
    padding: 5px;
    background-color: rgb(185, 33, 33);
    border: 1px solid rgb(77, 9, 9);
    color: white;
}

aside.conteudos {
    float: right;
    width: 730px;
}

section.noticia {
    width: 320px;
    margin-bottom: 20px;
    padding: 10px;
    float: left;
}

section.noticia h3 {
    background-color: #294C71;
    color: white;
    padding: 5px;
}

section ul li {
    font-size: 14px;
    padding: 15px;
}

section ul li h4 {
    color: #3e84cf;
}

section ul li img {
    float: left;
    margin-right: 10px;
}

span.black {
    font-weight: 900;
    color: black;
    background-color: red;
    padding: 5px;
    margin: 10px 0;
    display: inline-block;
}

span.white {
    font-weight: 900;
    color: white;
    background-color: red;
    padding: 5px;
    margin: 10px 0;
    display: inline-block;
}

span.leia-mais {
    color: red;
}

main{
    border: 1px solid red;
}

footer {
    background-color: #294C71;
    width: 950px;
    color: white;
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    clear: both;
    margin-bottom: 10px;
}




